# Introdução a Collections

In [59]:
idade1 = 32
idade2 = 45
idade3 = 21
idade4 = 15

print(idade1)
print(idade2)
print(idade3)
print(idade4)

32
45
21
15

In [60]:
# Lista: implementação de uma ideia de sequência de acesso aleatório
idades = [32, 45, 21, 14]
type(idades)

list

In [61]:
len(idades)

4

In [62]:
idades[2]

21

In [63]:
idades

[32, 45, 21, 14]

In [64]:
# Adicionar valores no final da lista
idades.append(10)

In [65]:
idades

[32, 45, 21, 14, 10]

In [66]:
for idade in idades:
    print(idade)

32
45
21
14
10

In [67]:
# Remover um elemento da lista
idades.remove(45)

In [68]:
idades

[32, 21, 14, 10]

In [69]:
# Se existem dois elemtenos com o mesmo valor, é removido aquele que aparece primeiro
idades.append(14)
idades

[32, 21, 14, 10, 14]

In [70]:
idades.remove(14)

In [71]:
idades

[32, 21, 10, 14]

In [72]:
# Verificar se o elemento está na lista
32 in idades

True

In [73]:
15 in idades

False

In [74]:
if 15 in idades:
    idades.remove(15)

In [75]:
if 32 in idades:
    idades.remove(32)

In [76]:
idades

[21, 10, 14]

In [77]:
# Inserir um item em uma posição específica
idades.insert(0, 30)
idades

[30, 21, 10, 14]

In [78]:
# Adicionar vários valores
idades.extend([19, 54])
idades

[30, 21, 10, 14, 19, 54]

In [79]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)
idades_no_ano_que_vem

[31, 22, 11, 15, 20, 55]

In [80]:
# Outra sintaxe com a mesma finalidade
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[31, 22, 11, 15, 20, 55]

In [81]:
# Filtros
[(idade) for idade in idades if idade > 21]

[30, 54]

In [82]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[31, 55]

## Problemas  da mutabilidade da lista

In [83]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))

In [84]:
idades = [15, 43, 72, 49]
faz_processamento_de_visualizacao(idades)

4

In [85]:
# No momento em que eu paço uma lista, que é um objeto mutável, como parâmetro, eu perco o controle dessa lista

In [86]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    print(lista)
    lista.append(13)

In [87]:
    faz_processamento_de_visualizacao()

0
[]

In [88]:
    faz_processamento_de_visualizacao()

1
[13]

In [89]:
    faz_processamento_de_visualizacao()

2
[13, 13]

In [90]:
# Se eu quisesse manter o valor estável:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [91]:
faz_processamento_de_visualizacao()

0
[]

In [92]:
faz_processamento_de_visualizacao()

0
[]

## Listas com objetos de classes nossas

In [93]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0

    def deposita(self, valor):
        self.saldo += valor

    def __str__(self):
        return "[>>Código {} - Saldo {} reais]".format(self.codigo, self.saldo)

In [94]:
conta_amanda = ContaCorrente(11)
print(conta_amanda)

[>>Código 11 - Saldo 0 reais]

In [95]:
conta_amanda.deposita(100)
print(conta_amanda)

[>>Código 11 - Saldo 100 reais]

In [96]:
conta_joao = ContaCorrente(222)
conta_joao.deposita(1000)
print(conta_joao)

[>>Código 222 - Saldo 1000 reais]

In [97]:
contas = [conta_amanda, conta_joao]
print(contas)
# Não chama por padrão o método __str__

[<__main__.ContaCorrente object at 0x00000223565D8160>, <__main__.ContaCorrente object at 0x00000223565EC610>]

In [98]:
for conta in contas:
    print(conta)

[>>Código 11 - Saldo 100 reais]
[>>Código 222 - Saldo 1000 reais]

In [99]:
# A conta do João é referenciada pela variável conta_joao
# No momento que eu crio uma lista onde tenho um array  com a variável, não estou criando objetos novos
# Só estou referenciando aquele objeto que já existia
contas = [conta_amanda, conta_joao, conta_amanda]
print(contas[0])

[>>Código 11 - Saldo 100 reais]

In [100]:
print(contas[2])

[>>Código 11 - Saldo 100 reais]

## Tuplas, objetos e anemia

In [101]:
def deposita_para_todas_as_contas(contas):
    for conta in contas:
        conta.deposita(100)

contas = [conta_amanda, conta_joao]
print(contas[0], contas[1])
deposita_para_todas_as_contas(contas)

print(contas[0], contas[1])

[>>Código 11 - Saldo 100 reais] [>>Código 222 - Saldo 1000 reais]
[>>Código 11 - Saldo 200 reais] [>>Código 222 - Saldo 1100 reais]

In [102]:
# Adicionando o número da agência da conta
contas.insert(0, 76)
print(contas[0], contas[1], contas[2])

76 [>>Código 11 - Saldo 200 reais] [>>Código 222 - Saldo 1100 reais]

Quando queremos trabalhar com posições específicas que verificam coisas diferentes (possivelmente tipos diferentes)  e imutável-> usamos tuplas.
É comum que quando você tem uma complexidade maior no conjunto de valores, essa tupla vire uma classe.

In [103]:
amanda = ('Amanda', 24, 1997)
joao = ('João', 19, 2002)
# Como é imutável, não possui o método append, por exemplo

In [104]:
conta_amanda = (11, 1500)
conta_amanda[1]

1500

In [105]:
# Para alterar o valor na tupla
def deposita(conta):
    novo_saldo = conta[1] + 100
    codigo = conta[0]
    return (codigo, novo_saldo) # retorno de uma nova tupla

In [106]:
deposita(conta_amanda)

(11, 1600)

In [107]:
conta_amanda

(11, 1500)

In [108]:
conta_amanda = deposita(conta_amanda)
conta_amanda

(11, 1600)

## Tupla de objetos e lista de tuplas

In [109]:
# Criando uma lista de tuplas
usuarios = [amanda, joao]
usuarios

[('Amanda', 24, 1997), ('João', 19, 2002)]

In [110]:
usuarios.append(('Paulo', 60, 1961))
usuarios

[('Amanda', 24, 1997), ('João', 19, 2002), ('Paulo', 60, 1961)]

Por ser uma tupla, não consigo alterar as informações de cada usuário

In [111]:
# Criando uma tupla de objetos
conta_amanda = ContaCorrente(15)
conta_amanda.deposita(1200)
conta_joao = ContaCorrente(34)
conta_joao.deposita(1000)

contas = (conta_amanda, conta_joao)

In [112]:
for conta in contas:
    print(conta)

[>>Código 15 - Saldo 1200 reais]
[>>Código 34 - Saldo 1000 reais]

In [113]:
contas[0].deposita(1000)
for conta in contas:
    print(conta)

[>>Código 15 - Saldo 2200 reais]
[>>Código 34 - Saldo 1000 reais]

## Listas e polimorfismo

In [114]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0

    def deposita(self, valor):
        self._saldo += valor
        
    @abstractmethod
    def passa_o_mes(self):
        pass

    def __str__(self):
        return "[>>Código {} - Saldo {} reais]".format(self._codigo, self._saldo)

In [115]:
# por ter um método abstrato, não pode ser instanciada
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract methods passa_o_mes

In [116]:
# Classe ContaCorrente herda da classe Conta
class ContaCorrente(Conta):
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3

In [117]:
conta_1 = ContaCorrente(1)
conta_1.deposita(1000)

In [118]:
conta_1.passa_o_mes()
print(conta_1)

[>>Código 1 - Saldo 998 reais]

In [119]:
conta_2 = ContaPoupanca(2)
conta_2.deposita(1000)
conta_2.passa_o_mes()
print(conta_2)

[>>Código 2 - Saldo 1007.0 reais]

In [120]:
contas = [conta_1, conta_2]
for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Código 1 - Saldo 996 reais]
[>>Código 2 - Saldo 1014.07 reais]

## Arrays e Numpy

In [121]:
# Geralmente se evita usar o tipo array puro
# É costumo, quando se precisa usar, usar o numpy
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [122]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

Se você tem um método que você quer definir na sua classe mãe e que todo mundo seja forçado a interpretar, coloque um abstract method nela, defina ela como uma classe abstrata através da meta classe ABCmeta.
Dessa maneira, forçamos para que o erro apareça na hora que você tem que instanciar, que é muito mais cedo do que o momento que você tenta chamar o método, porque você instancia em algum momento e os métodos só são chamados bem depois, não sabemos quando.

## Igualdade e o método eq

In [123]:
# __eq__

In [124]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Código {} - Saldo {} reais<<]".format(self._codigo, self._saldo)

In [125]:
conta_1 = ContaSalario(21)
print(conta_1)

[>>Código 21 - Saldo 0 reais<<]

In [126]:
conta_2 = ContaSalario(21)
print(conta_2)

[>>Código 21 - Saldo 0 reais<<]

In [127]:
# Não são iguais, mesmo contendo as mesmas informações
# Somente se fosse uma referência pro mesmo objeto
conta_1 == conta_2

False

In [128]:
# Definir uma condição de igualdade
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return false
        return self._codigo == outro._codigo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Código {} - Saldo {} reais<<]".format(self._codigo, self._saldo)

In [129]:
conta_1 = ContaSalario(21)
conta_2 = ContaSalario(21)
conta_1 == conta_2

True

In [130]:
conta_1 != conta_2

False

## Builtins como enumerated, range e desempacotamento automático de tuplas

In [131]:
idades = [12, 45, 32, 78, 41]

In [132]:
for i in range(len(idades)):
    print(i, idades[i])

0 12
1 45
2 32
3 78
4 41

In [133]:
# Enumerate
enumerate(idades)

In [134]:
list(enumerate(idades))

[(0, 12), (1, 45), (2, 32), (3, 78), (4, 41)]

In [135]:
for valor in enumerate(idades):
    print(valor)

(0, 12)
(1, 45)
(2, 32)
(3, 78)
(4, 41)

In [136]:
for indice, idade in enumerate(idades): #unpacking da tupla
    print(indice, idade)

0 12
1 45
2 32
3 78
4 41

In [137]:
usuarios = [
    ("Amanda", 24, 1997),
    ("Ana", 19, 2002),
    ("Roberto", 60, 1961)
]

for nome, idade, nascimento in usuarios:
    print(nome)

Amanda
Ana
Roberto

In [138]:
# Para ignorar algum dado, posso colocar um "_"
for _, idade, _ in usuarios:
    print(idade)

24
19
60

## Ordenação básica

In [139]:
# Ordenar as idades
sorted(idades)

[12, 32, 41, 45, 78]

In [140]:
list(reversed(sorted(idades)))

[78, 45, 41, 32, 12]

In [141]:
sorted(idades, reverse = True)

[78, 45, 41, 32, 12]

In [142]:
# Para ordenar a idade permanentemente podemos usar o sort()
# idades.sort()

## Ordenação de objetos sem ordem natural

In [143]:
idades

[12, 45, 32, 78, 41]

In [144]:
idades.sort()

In [145]:
idades

[12, 32, 41, 45, 78]

In [147]:
nomes = ["Luana", "Ana", "João"]
sorted(nomes)

['Ana', 'João', 'Luana']

In [148]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return false
        return self._codigo == outro._codigo
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return "[>>Código {} - Saldo {} reais<<]".format(self._codigo, self._saldo)

In [149]:
conta_da_ana = ContaSalario(13)
conta_da_ana.deposita(500)

conta_do_lucas = ContaSalario(10)
conta_do_lucas.deposita(1500)

In [150]:
conta_do_paulo = ContaSalario(34)
conta_do_paulo.deposita(1000)

In [151]:
contas = [conta_da_ana, conta_do_lucas, conta_do_paulo]

In [152]:
# vai imprimir na ordem que foi colocada na lista
for conta in contas:
    print(conta)

[>>Código 13 - Saldo 500 reais<<]
[>>Código 10 - Saldo 1500 reais<<]
[>>Código 34 - Saldo 1000 reais<<]

In [153]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [155]:
# ordenando pelo saldo
def extrai_saldo(conta):
    return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Código 13 - Saldo 500 reais<<]
[>>Código 34 - Saldo 1000 reais<<]
[>>Código 10 - Saldo 1500 reais<<]

In [156]:
# para poder acessar o atributo saldo sem criar uma função
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Código 13 - Saldo 500 reais<<]
[>>Código 34 - Saldo 1000 reais<<]
[>>Código 10 - Saldo 1500 reais<<]

In [157]:
# Mas ainda tenho o problema de precisar acessar um atributo privado